<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>  
        <add key="connectionString" value="Data Source=DESKTOP-GOB4QRS\SQLEXPRESS;Initial Catalog=PropertyFinder;Integrated Security=True"/>
		<add key="webService" value="gewnieruchomosci"/>
		<add key="name" value="Grzegorz Brzeziński"/>
		<add key="index" value="133000"/>
    </appSettings>
</configuration>